# Python Bytecode & Cache (Berlaku untuk semua folder)
*.pyc
*.pyo
*.pyd
*.aux
*.fdb
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.synctex
*.fdb_latexmk
*.gz
__pycache__/
/Analisis_Meteorologi/Analisis_Bulanan/
/Analisis_Meteorologi/open_meteo_jerukagung/
/Analisis_Meteorologi/cache_data/
/Analisis_Meteorologi/clear_data/
/Analisis_Meteorologi/periode_tertentu_plots/
/Analisis_Meteorologi/plots_hyetograph_bulanan/
/Analisis_Meteorologi/plots_heatmap_anomali_suhu/
/Analisis_Meteorologi/datalogs/
/Analisis_Meteorologi/Hasil_Analisis_Hujan/
/Analisis_Meteorologi/.cache.sqlite
/Analisis_Meteorologi/scratch/
/DeepLearning_Meteorologi/outputs/
/DeepLearning_Satelit/outputs/
/Model_Imputasi/outputs/
/DeepLearning_Satelit/outputs_lstm/
/DeepLearning_Satelit/outputs_xgboost/
/Google_Earth_Engine/ClimateEngineData
/Google_Earth_Engine/Data_Satelit
/Google_Earth_Engine/Analisis Curah hujan/Hasil_Analisis
/Google_Earth_Engine/Hasil_Analisis_Hujan
/Google_Earth_Engine/Analisis_Data_Presipitasi_Satelit/Hasil_Analisis_Harian
/Google_Earth_Engine/Analisis_Data_Satelit_dengan_AWS/Hasil_Analisis
/DeepLearning_Satelit/results_xgboost
/DeepLearning_Satelit/results_lstm
/DeepLearning_Satelit/outputs_inference
/DeepLearning_Satelit/results_lstm.zip
/DeepLearning_Satelit/results_xgboost.zip
main.cpp
/Model_Imputasi/cuaca_gabungan_jerukagung.csv
Model_Imputasi/.cache.sqlite
staklimjerukagung-b852a12a367e.json
