/Analisis_Meteorologi/analisis/
/Analisis_Meteorologi/open_meteo_jerukagung/
/Analisis_Meteorologi/cache_data/
/Analisis_Meteorologi/clear_data/
/Analisis_Meteorologi/Data_Satelit/
/Analisis_Meteorologi/periode_tertentu_plots/
/Analisis_Meteorologi/plots_hyetograph_bulanan/
/Analisis_Meteorologi/plots_heatmap_anomali_suhu/
/Analisis_Meteorologi/weather_data_csv/
/Analisis_Meteorologi/logs/
/Analisis_Meteorologi/.cache.sqlite
/Analisis_Meteorologi/__pycache__/
/Analisis_Meteorologi/scratch/
/outputs/
main.cpp
